<!-- partial footer page to include it in the pages-->
    <!-- JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootsstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>