    
    <!-- partial page to include the a static footer bottom in the pages-->
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text"><img src="\Assest\images\logo.pnp">  &copy: copyright: Munther Al Shukair 2020.</h6> 
      </nav>
    </footer>