
<!-- express to include header in the page -->
<%- include partials/header.ejs %>

<!-- to include the main nav in the page-->
<%- include partials/main_nav.ejs %> 


<p>Three projects i had work of them</p>
<nav>
  <ul>
    <li>
      <p>I had develope website for a real statement</p>
    </li>
    <li>
      <p>I had programed in visual basic </p>
    </li>
    <li>
      <p>right now I tried to build my own website in this project</p>
      <img src="\Assest\images\project.bmp" alt="portfolio" height="450" width="450">


    </li>
  </ul>
  <a href="/home">home</a>


</nav>
  <!-- to include the a static bottom in the page-->
<%- include partials/bottom_nav.ejs %> 

  <!-- include the footer in the page-->
<%- include partials/footer.ejs %> 