<!-- express to include header in the page -->
<%- include partials/header.ejs %>

<!-- to include the main nav in the page-->
<%- include partials/main_nav.ejs %> 
<h4><p> a short list of services I offer: </p></h4>
<ul>
  <li>
     <H3>General programming. </H3>
  </li>
  <li>
     <h3>Web development.</h3>
  </li>
  <li>
    <h3>Hardware fixed. </h3>
  </li>
</ul>
<a href="http://localhost:3000/home">home</a>

  <!-- to include the a static bottom in the page-->
<%- include partials/bottom_nav.ejs %> 

  <!-- include the footer in the page-->
<%- include partials/footer.ejs %> 